@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --ft-color: rgb(7, 207, 181);
    --ft-size : 30px;
    --head-size: 50px;
    --head-color: white;
    --para-size: 20px;
    --h2-size:30px;
    --ff-h2:'Lobster Two', cursive;
    --ff-para: 'Caveat', cursive;
}

* {
    margin: 0;
    padding: 0;
}
.pageBackground {
    background-image: linear-gradient(to bottom right, blue, rgb(7, 207, 181));
    background-size: cover;
    
}

.Application {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    
}

.App {
    display:flex;
    z-index: 0;
}

.mood-all2 {
    display: flex;
    min-height: 100%;
    flex-direction:column;
    overflow-x: hidden;
    /* align-items:center; */
}

input[type=checkbox] {
    transform: scale(1.5);
}

.mood {
    padding-left: 300px;
    padding-top:400px;
    font-size: var(--ft-size);
    font-family:var(--ff-para);
    color: rgb(7, 207, 181)
    
}

.mood-all{
    margin-top: -50px;
}

.mood-words {
    padding: 20px;
    /* color: var(--ft-color); */
    line-height: 100px;
    
}

.mood-title {
    position:fixed;
    right: 600px;
    top:120px;
    color: var(--head-color);
    font-family: var(--ff-h2);
    font-size: var(--h2-size);
    background-image: linear-gradient(0deg, rgb(248, 248, 252), var(--ft-color));
    background-size:100%;
    background-clip: text;
    color: transparent;
    
}

.mood-notes {
    position:fixed;
    bottom:200px;
    right:300px;
    height:300px;
    width:600px;
}

.mood-notes-add {
    position: fixed;
    bottom:460px;
    right:760px;
    color:var(--ft-color);
    font-size: 20px;
}
.mood-submit{
    position:fixed;
    bottom: 120px;
    right:600px
}

.mood-medilog{
    position:relative;
    top:-50px;
    left: 650px;
    color: var(--head-color);
    font-family: var(--ff-h2);
}

.entry1-all{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    /* right: 1000px;*/
    /* top:100px;  */
    z-index: 1;
    font-family: var(--ff-para);
}


.entry-1{
    /* position: relative; */
    left: 20px;
    line-height: 30px;
    padding: 20px;
    color: var(--ft-color)
}



.input-1{
    /* position: relative; */
    left:50px;
    width: 450px;
    height: 50px
}

.nav {
    display:flex;
    background-color: white;
    background-image: linear-gradient(rgb(7, 207, 181), blue );
    padding: 20px;
    justify-content: space-between;
    z-index: 1;

}


.navLi {
    margin-right: 250px;
    list-style-type: none;
}

.navLi:link {
    color: white;
    text-decoration: none;
}

.entry1-inputs{
    text-align: center;
    justify-content: center;
    margin-right: 200px;
    margin-top: -75px;
    
}

.entry1-textArea{
    /* display:flex; */
    /* position:relative; */
    /* left: 750px;
    bottom:300px; */
    width:600px;
    height:300px;
    margin-left: -20px;
}

.entry1-addNotes{
    /* display:flex; */
    position:relative;
    /* left: 750px;
    top:-300px; */
    color: var(--ft-color)
}

.entry1-submit {
    /* display:flex;
    position:relative; */
    justify-content:center;
    bottom: 250px;
    left: 650px;
}

.entry1-title{
    /* position:fixed; */
    /* right: 625px;
    top:125px; */
    font-size: 28px;
    color: var(--head-color);
    font-family: var(--ff-h2);
    background-image: linear-gradient(0deg, rgb(248, 248, 252), var(--ft-color));
    background-size:100%;
    background-clip: text;
    color: transparent;
}

.keysym {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.logo {
    display:flex;
    position:relative;
    z-index: 0;
    top: 0;
    width: 100px;
}

.logo1{
    max-width:75px;
}

.medilog1 {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.medilog-title{
    margin-top: -100px;
    color:var(--head-color);
    font-family: var(--ff-h2);    
}

a:link {
    color:white;
}

a:visited{
    color: rgb(7, 207, 181);
}

.return-info {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* line-height: 30px; */
    color: var(--ft-color);
    font-family: var(--ff-para);
    font-size: var(--para-size);
    padding-left: 20px;
    /* position:fixed; */
    z-index: 1;
    padding: 10px;
    overflow-y: auto;
}

.medilog-entries{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--head-color);
    font-family: var(--ff-h2);
}

.medilog2{
    color: var(--head-color);
    font-family: var(--ff-h2);
    margin-top: -75px

}

.card{
    border:solid 0.5px var(--ft-color);
    border-style:outset;
    box-shadow: 0 6px 10px 0 var(--ft-color);
    transition: 0.3s;
    width: 350px;
    margin-top: 2%;
    padding: 15px;
}

.journal-entries{
    font-size: var(--ft-size);
    background-image: linear-gradient(0deg, rgb(248, 248, 252), var(--ft-color));
    background-size:100%;
    background-clip: text;
    color: transparent;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer{
    position:absolute;
    left:0;
    bottom:30px;
    right:0;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}


